.App {
  margin: 10px;
  text-align: center;
}

.card{

  padding: 10px;
  margin: 10px;
}

.form{
  text-align: center;

}

.myForm{
  display: block;
  margin: 0 auto 2.5%;
}

.form-group{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 40%;
  margin: 0 auto;
}


span{
  color: blue;
  font-size: 24px;
}
